body {
	background-color: #404040;
	color:#FFFFFF;
	font-family: arial,helvetica,sans-serif;
}

h1 {
	text-align: center;
	font-size:35px;
}

h3 {
    font-size:20px;
    font-family: arial,helvetica,sans-serif;
    font-style: normal;
}

p {
	font-family: arial,helvetica,sans-serif;
}

li {
	font-size:25px;
}

div.text{
    text-align:left;
    margin:10px;
    padding-bottom:75px;
}

div.image{
	float:right;
	margin:5px;
	clear:right;
	display:inline;
	padding:5px;


}