/*
Website: My Programming Site v.1
Author:DANIELA CASTRO
 */

body {
    background:purple;
    font-family: arial;
    color:white;
}

h1 {
	color:white;
	font-family: sans-serif;
	font-size:50px;
	text-align:center;

}

h1:hover{
	color:yellow;

}

/* text style */

p {
   color:orange;
   font-family: sans-serif;
   font-size:20px;
   
}

p:first-letter{
	font-size: 28px;
	font-weight:bold;

}

hr {
	border-color: black;
}

/* container style */

#content{
	width:600px;
	border-width:2px; 
	border-color:red;
	border-style:solid;
	border-radius:100px;
	background-color:rgba(31,31,31,.4);
	margin:0 auto;
	padding:20px;
	overflow:hidden;
}